*{
    margin: 0px;
    padding: 0px;
} 

/* create variable */
:root{
    --navbar-height:54px;
}
#navbar{
   display: flex;
    align-items : center;
    position: relative;
    height: var(--navbar-height);

}
#logo{
    margin: 10px 34px;
}
/* logo style */
#logo img{
    height: 96px;
    

}

#navbar ::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* ul style  */
#navbar ul{
    display: flex;
}

/* list style  */

#navbar ul li{
list-style: none;
font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 20px;
    font-family: 'Patrick Hand', cursive;
    border: 2px solid black;
    text-decoration: none;

}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
/* Home section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 640px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url(https://images.pexels.com/photos/2519374/pexels-photo-2519374.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#home h1{
    text-align: center;
    color: white;
    font-family: 'Patrick Hand', cursive;
}
#home p{
    text-align: center;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;
}
/* Services section */

#services{
    display: flex;
    margin: 40px;

}
#services h1{
    text-align: center;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;
}

#services p{
    text-align: center;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 1.5rem;

}
#services .box{
    border: 2px solid #706a6a;
    padding: 40px;
    margin: 5px 12px;
    border-radius: 30px;
    transition: transform .2s;
    background-color: #121212;
    /* box-shadow: 5px 10px #706a6a; */
}
#services .box:hover{
    transform: scale(1.1);
}

#services .box img{
    height: 100px;
    margin: auto;
    display: block;
}

/* client section  */
#client-section{
    height: 400px;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url(https://images.pexels.com/photos/104842/bmw-vehicle-ride-bike-104842.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500)no-repeat center center/cover;
    width: 100%;
    height: 54%;
    z-index: -1;
    opacity: 7.4;
}
#client{
display: flex;
justify-content: center;
align-items: center;
}

.client-item{
    padding: 34px;
    
}

.client-item img{
    height: 112px;
}


/* Utility classes */
#primary{
font-size: 3rem;
padding: 12px;
text-align: center;
}
#btn{
    color: white;
    background-color: black;
    display: block;
    padding: 10px 10px;
    margin:40px;
    font-size: 15px;
    border-radius: 20px;
    font-family: 'Patrick Hand', cursive;
    border: 2px solid black;
    text-decoration: none;
}
#btn:hover{
    color:black;
    background-color: white;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 20px;
    font-family: 'Patrick Hand', cursive;
    border: 2px solid black;
    text-decoration: none;
    cursor: pointer;
}