*{
    margin: 0px;
    padding: 0px;
} 

/* create variable */
:root{
    --navbar-height:59px;
}
#navbar{
   display: flex;
    align-items : center;
    position: relative;
    height: var(--navbar-height);

}
#logo{
    margin: 10px 34px;
}
/* logo style */
#logo img{
    height: 42px;
    margin: 24px 24px;

}

#navbar ::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* ul style  */
#navbar ul{
    display: flex;
}

/* list style  */

#navbar ul li{
list-style: none;
font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 20px;
    border: 2px solid black;
    text-decoration: none;

}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* Home section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}